<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #D4D4D4 ;">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">CSV Upload</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Main navigation links -->
        <div class="collapse navbar-collapse justify-content-end " id="navbarNav"> <!-- Added 'justify-content-end' -->
        
        </div>
    </div>
</nav>
